
#block1, #block2, #block3 {
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}

#block1 {
    background: green;
}

#block2 {
    background: yellow;
    display: none;
}

#block3 {
    background: blue;
}

#container {
    height: 75px;
}

div.out {
	width: 40%;
	height: 120px;
	margin: 0 15px;
	background-color: #d6edfc;
	float: left;
}

div.in {
	width: 60%;
	height: 60%;
	background-color: #fc0;
	margin: 10px auto;
}

p {
	line-height: 1em;
	margin: 0;
	padding: 0;
}
